.row {
	clear: both;
	width: 100%;
	max-width: 960px;
	min-width: 240px;
}

.col {
	float: left;
}

/* Two Column Rows */
.two.row .fixed.one.col {
	width: 480px;
}

@media screen and (min-width: 480px) {
	.two.row .fluid.one.col {
		width: 50%;
	}
}

@media screen and (max-width: 479px) {
	.two.ro .fluid.one.col {
		min-width: 240px;
		width: 100%;
	}
}

/* Three Column Rows */
.three.row .fixed.one.col {
	width: 320px;
}

.three.row .fixed.two.col {
	width: 640px;
}

@media screen and (min-width: 480px) {
	.three.row .fluid.one.col {
		width: 33.3%;
	}
	
	.three.row .fluid.two.col {
		width: 66.6%;
	}
}

@media screen and (max-width: 479px) {
	.three.row .fluid.one.col {
		width: 240px;
	}
	
	.three.row .fluid.two.col {
		min-width: 240px;
		width: 100%;
	}
}

/* Four Column Rows */
.four.row .fixed.one.col {
	width: 240px;
}

.four.row .fixed.two.col {
	width: 360px;
}

.four.row .fixed.three.col {
	width: 480px;
}

@media screen and (min-width: 480px) {
	.four.row .fluid.one.col {
		width: 25%;
	}
	
	.four.row .fluid.two.col {
		width: 50%;
	}
	
	.four.row .fluid.three.col {
		width: 75%;
	}
}

@media screen and (max-width: 479px) {
	.four.row .fluid.one.col {
		min-width: 120px;
		width: 50%;
	}
	
	.four.row .fluid.two.col {
		min-width: 240px;
		width: 100%;
	}
	
	.four.row .fluid.three.col {
		min-width: 240px;
		width: 100%;
	}
}

/* Five Column Rows */
.five.row .fixed.one.col {
	width: 192px;
}

.five.row .fixed.two.col {
	width: 384px;
}

.five.row .fixed.three.col {
	width: 576px;
}

.five.row .fixed.four.col {
	width: 768px;
}

@media screen and (min-width: 480px) {
	.five.row .fluid.one.col {
		width: 20%;
	}
	
	.five.row .fluid.two.col {
		width: 40%;
	}
	
	.five.row .fluid.three.col {
		width: 60%;
	}
	
	.five.row .fluid.four.col {
		width: 80%;
	}
}

@media screen and (max-width: 479px) {
	.five.row .fluid.one.col {
		min-width: 120px;
		width: 50%;
	}
	
	.five.row .fluid.two.col {
		min-width: 240px;
		width: 100%;
	}
	
	.five.row .fluid.three.col {
		min-width: 240px;
		width: 100%;
	}
	
	.five.row .fluid.four.col {
		min-width: 240px;
		width: 100%;
	}
}